
/*
Elementos propios del HTML no es necesario determinar un . o # y se aplican a todos los elementos que correpondan a la etiqueta
clases = Se determinana por medio de un . al inicio y luego el nombre de la clase (Se puede repetir y se aplica a los elementos con clases similares)
Identificadores = Es determinado por medio de un # y el nombre seguido del id (Usado especificamente)
*/

@import url("http://fonts.cdnfonts.com/css/open-sans");

body{

    background-image: radial-gradient(circle at 50% -20.71%, #fe8f62 0, #ff8564 8.33%, #ff7967 16.67%, #ff6c6b 25%, #fd5e6e 33.33%, #f84e73 41.67%, #f23c78 50%, #ea287e 58.33%, #e10e86 66.67%, #d6008f 75%, #ca0098 83.33%, #bb00a3 91.67%, #aa00ae 100%);
    font-family: "Open Sans";
    height: 0;
    width: auto;
    text-align: center;

}


td{
    
    width: 50px;  /*Ancho*/
    height: 50px;  /*Alto*/

    background-color: rgb(226, 174, 43); /*Color dentro de las celdas*/

    /*border: 5px black; /*Linea del borde*/


    /* padding-top: 100px; */
    /* padding: 10px 20px 30px 40px; */


    border-radius: 50%; /*Redondea a radio*/
    border-style:solid ; /*Estilo de borde*/

    
    cursor: progress; /*Cambia el puntero cuando se le pone encima*/



    
}





#resultado{

    height: 100px;

    padding: 10px;

    
}

table{
    margin: 0 auto;
}

#ressin{

    width: 100%;
    height: 100%;
    font-size: 50px;

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; /*Cambia el font del resultado*/
    
}


/*Importante*/


.numero input{

    width: 80%;
    height: 50px;
    background-color: transparent;
    border: 0;
    cursor: default;
    font-size: 20px;
    text-align: center;
}

